<!-- 네비게이션 바 -->
<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">FinFit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/incomeexpense}">가계부 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/budget}">예산 관리</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAnonymous()')}">
                    <a class="nav-link" th:href="@{/signup}">회원가입</a>
                </li>
                <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <span sec:authentication="principal.username"></span>님
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" th:href="@{/mypage}">마이페이지</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
